* {
    font-family: 'Segoe UI', sans-serif;
}
body {
    margin: 0;
    overflow-x: hidden;
}
nav{
    background-color: rgba(0, 0, 0);
    display: flex;
    justify-content: end;
}
.navbar-nav{
    display: flex;
    justify-content: end;
}
.navbar-nav .nav-item .nav-link {
    color: rgb(225, 225, 225);
    padding-left: 25px;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: rgb(255, 255, 255);
}
.banner {
    display: flex;
    height: 325px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("diversity.jpg");
    text-align: center;
    align-items:center;
    justify-content: center;
    padding: 225px 0px;
    color: white;
}
.hero-title{
    font-size: 125px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
}
.row {
    display: flex;
    gap: 10px;
    padding: 25px;
}
.col {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.col img {
    width: 100%;
}
h1 {
    font-size: 4.2vw;
    font-weight: 600;
}
h2 {
    font-size: 2.5vw;
    font-weight: 500;
}
img {
    width: 300px;
}
#navbar-move{
    padding-right: 1 5px;
}
.first-thingy {
max-width: 1000px;
margin: auto;
padding-block: 25px;
}
@media (width<1000px){
    .first-thingy{
        max-width: fit-content;
    }
    h5{
        font-size: 5vw;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    p{
        font-size: 14px;
    }
}
.banner1 {
    display: flex;
    height: 325px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-image: linear-gradient(rgb(192, 192, 192), rgba(0, 0, 0, 0.55));
    text-align: center;
    align-items:center;
    justify-content: center;
    color: white;
}

.banner2 {
    display: flex;
    height: 325px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-image: linear-gradient(rgb(53, 53, 53), rgb(212, 212, 212));
    text-align: center;
    align-items:center;
    justify-content: center;
    color: white;
}
.second-thingy {
    max-width: 1000px;
    margin: auto;
    padding: 25px;
    }
img{
    width:100%;
    overflow: hidden;
    height: 100%;
    object-fit: cover;
}
.navbar-toggler-icon{
    background-color: white;
}
.navbar-collapse{
    display: flex;
    justify-content: end; 
}
